  
<%- include('partials/header', {css_file: 'reminder'}); %>  	
	<section>
		<div class="container">
			<div id="topic">
				お知らせ
			</div>
			<p id="reminder"></p>
			
			<%for (const onereminder of reminder_data) {%>
				<div class="tag">
					<h2 class="title mb-3">
						<%= onereminder.content %>
					</h2>
					<div class="review">
						<span class="in_rev date"><%= onereminder.date %></span>
						<div id="link<%=onereminder.unique_id%>" class="in_rev"></div>
						<a href="/reminder_delete<%=onereminder.unique_id%>" class='in_rev btn btn-danger'>削除</a>
					</div>
					<script>
						if ("<%=onereminder.group%>" == "message"){
							document.getElementById("link<%=onereminder.unique_id%>").innerHTML = 
							"<a href='/chat<%=onereminder.sender%>' class='in_rev btn btn-primary'>見に行く</a>";
						}else if ("<%=onereminder.group%>" == "buy"){
							document.getElementById("link<%=onereminder.unique_id%>").innerHTML = 
							"<a href='/selling' class='in_rev btn btn-primary'>見に行く</a>";
						}
					</script>
				</div>
			<% }%>
		</div>
	</section>

<%- include('partials/footer'); %>  